
html, body 
{
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

#divContainer
{
    width: 960px;
    margin: auto;  
}

#divSoek
{
    float: right;    
}

p, td, a
{
    font-family: Sans-Serif;   
    color: Black; 
    margin-left: 10px;
    font-size: 12pt;
}

i
{
    font-size: 10pt;    
}

h1, h2
{
    color: #333333;
    font-family: Arial; 
    padding: 10px; 
}

.modul
{
	border: 1px solid rgb(30, 30, 30);
}

.modul h3
{
	background-color: #333333;
	color: #ffffff;
	margin: 0px;
	padding: 10px;	
	background: -moz-linear-gradient(top, rgb(60, 60, 60), #000033);
	background: -webkit-gradient(linear, left top, left bottom, from rgb(60, 60, 60), to #000033));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(60, 60, 60)', endColorstr='#000033);
	font-family: Arial;
	cursor: pointer;
}

.modul p
{
	margin: 5px 10px;
	display: none;
}




