@charset "utf-8";
/* CSS Document kodet av Britt-Heidi Fladby*/

html, body
{
	margin: 0;
	padding:0;	
}

#divContainer
{
	width: 960px;
	margin: auto;	
}

#divContainer header
{
	height: 65px;
	background-color: #f0f0f0;	
	border-color: #eaeaea;
}

header h1
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	float: left;
	padding-left: 10px;
	padding-bottom: 20px;
	margin-bottom: 15px;
}

header #divSoek
{
	float: right;
	padding: 10px 10px 15px 5px;
		
}	

#divFeedcontainer
{
	width: 960px;
	margin-top: 30px;
}

#sectFeed #imgLoad
{
	margin-left: 440px;	
	padding-top: 200px;
}

.divFeedboks
{
	background-color: #fafafa;
	width: 315px;
	height: 400px;
	margin-right: 5px;	
	float: left;
	border: 1px solid #f4f4f4;
	word-wrap: break-word;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 	
	-webkit-box-sizing:border-box; 	
}

h3, p
{
	padding-left: 10px;	
}