@charset "utf-8";
/* CSS Document */

html,body
{
	background-color: #333333;	
}

#container
{
	position: absolute;
	top: 0;
}

#container img
{
	width: 960px;
	height: 738px;
	outline: none;
	border: none;	
}

#container img a
{
	border: none;
	border-style: none;
	outline: none;	
}

